
body {
	font-family:Arial;
	background-color: #aaa;
	padding: 10px;
	text-size:1em;
	width:60%;
}

h1 {
	border-bottom: 2px solid #fff;
	margin: 20px 0px 15px 0px;
}

h2 {
	border-bottom: 1px solid #ddd;
	margin: 20px 0px 10px 0px;
}

p {
	margin: 5px;
}

ul {
	list-style-type: square;
}

li {
	margin: 5px 0px;
}

pre {
	border-left: 2px solid #000;
	padding: 10px;
	margin-left: 50px;
	border-radius: 15px;
}

